.blog {
    margin-top: 5rem;
}

.container {
    max-width: 750px !important;
    padding: 2rem !important;
    margin: auto;
}

.blog * {
    margin-bottom: 1rem;
}

.blog-date {
    font-style: italic;
    color: #aaa;
    font-size: .9rem;
    margin: 1rem 0;
}